extends layout 

block content
	header.brands-header
		div
			h2 Brands
			span !{list_brands.length} Brands
		div 
			a(href="/brands/add" class='btn add-btn') Add Brand

	table.brands-table
		colgroup 
			col(class='col-25')
			col(class='col-25')
			col(class='col-25')
			col(class='col-25')
		tbody 
			each brand in list_brands
				tr 
					td(class='table-brand-name') !{brand.name}
					td #[a(href=brand.url) Details]
					td #[a(href=`/listings/?brand=${brand.name}`) Listings]
					td #[a(href=`${brand.url}/delete`) Delete]